body {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    text-align: center;
    margin: 0;
    background-color: hsl(36, 33%, 97%);
    color: #26354A;
}

header {
    padding: 30px;
}

h1 {
    font-family: "Mountains of Christmas", cursive;
    font-size: 64px;
    font-weight: 700;
}

.tagline {
    font-family: "Mountains of Christmas", cursive;
    font-size: 26px;
    font-weight: 700;
}

main {
    padding: 40px 20px;
}

.battle {
    max-width: 1000px;
    margin: auto;
}

.battle-heading {
    margin-bottom: 25px
}

.battle-number {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.battle-title {
    font-family: "Mountains of Christmas", cursive;
    font-size: 38px;
    margin: 0;
}

.live-label {
    font-family: "Patrick Hand", cursive;
    font-size: 18px;
    font-weight: bold;
    color: #F89B58;
    margin-top: 5px;
}

.fighters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.fighter {
    width: 350px;
    padding: 30px;
    border: 2px solid #26354A;
    border-radius: 16px;
    box-shadow: 6px 6px 0 #26354A
}

.fighter h2 {
    font-family: "Patrick Hand", cursive;
    font-size: 40px;
}

.fighter h2 a:hover {
    font-size: 48px;
    text-decoration: none;
    color: #26354A;
}

.fighter h2 a {
    text-decoration: none;;
}

.fighter h2 a:visited {
    color: #26354A;
}

.versus {
    font-family: "Mountains of Christmas", cursive;
    font-size: 42px;
    font-weight: 700;
    color: #F89B58
}

button {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 25px;
    margin: 10px;
    cursor: pointer;

    background-color: #000000;
    color: #ffffff;

    border: none;
    border-radius: 50px;
}

@media (max-width: 700px) {

    nav {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.nav-links a {
    font-size: 12px;
}

    .fighters {
        flex-direction: column;
        gap: 20px;
    }

    .fighter {
        width: auto;
    }

    h1 {
        font-size: 36px;
    }

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #26354A;
}

.logo {
    font-family: "Mountains of Christmas", cursive;
    font-size: 32px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 27px;
}

.nav-links a {
    color: #26354A;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
    font-size:18px;
}

.hagrids {
    background-color: #a9cba7;
}

.velocicoaster {
    background-color: #efd9c6;
}

.ride-image {
    height: 220px;
    background-color: #dddddd;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin-bottom: 25px;

    font-weight: bold;
}

.health-bar {
    width: 100%;
    height: 15px;

    background-color: #dddddd;

    border-radius: 20px;

    overflow: hidden;

    margin-bottom: 20px;
}

.health {
    width: 100%;
    height: 100%;

    background-color: #22c55e;
}

.logo a:visited {
    color: #26354A;
}

.logo a {
    color: #26354A;
    text-decoration: none;
    display: inline-block;
}

.logo a:hover {
    transform: scale(1.05);
}